html {
	height: 100%;
	font-size: 62.5%;
}
body {
	height: 100%;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	color: #333;
}
h1 {
	font-size: 4em;
	margin: 0.6em auto;
}
h2 {
	font-size: 3.25em;
	margin: 0.8em auto;
}
h3 {
	font-size: 3em;
	font-style: italic;
	margin: 0.8em auto;
}
h4 {
	font-size: 2.5em;
	margin: 1em auto;
}
h5 {
	font-size: 2.25em;
	font-style: italic;
	margin: 1em auto;
}
h6 {
	font-size: 2em;
	margin: 1.2em auto;
}
pre {
	padding: 0.6em 0.8em;
}

a {
	color: #14B3F1;
}

.serif {
	font-family: 'TimesNewRoman', 'Times New Roman', 'Times', 'Baskerville', 'Hoefler Text', 'Garamond', serif;
}
.sans-serif, body {
	font-family: /*'Oxygen',*/ 'Helvetica Neue', 'Helvetica', 'Calibri', 'Arial', sans-serif;
}
.mono, code, pre, kbd, samp {
	font-family: 'Consolas', 'Lucida Console', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Courier New', 'Courier', monospace;
}



