.header--title {
	text-align: center;
	margin: 0;
	padding: 0.6em 0.2em 0.4em;
	@media only screen and (min-width: 40em) {
		padding: 0.6em 1em 0.4em;
	}
}
.header--title--link {
	text-decoration: none;
}
.header--social {
	text-align: center;
	font-size: 2em;
	padding: 0.6em 1em 1em;
}
.header--social--link {
	display: inline-block;
}
.header--social--link--icon {
	width: 1.25em;
	vertical-align: -20%;
}
.header--social--link--icon__twitter {
	font-size: 0.84em;
	vertical-align: -18%;
}

.nav {
	text-align: center;
	padding: 1em;
	word-spacing: 0.6em;
}
.nav--link {
	font-size: 1.1em;
	padding: 0.5em 0.5em 0.4em;
	display: inline-block;
	text-decoration: none;
}

.post--content p {
	text-align: justify;
}

.home--subscribe {
	text-align: center;
}
.home--list {
	max-width: 40em;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.home--list--post {
	border-bottom: #aaa 1px solid;
	padding: 1em 0;
}
.home--list .home--list--post:last-of-type {
	border-bottom: none;
}
.home--list--post--title {
	font-size: 1.8em;
	text-decoration: none;
	color: #57a6c6;
}


