.l-header {
	background-image: url('/img/background-texture-lite.png');
	background-repeat: repeat;
}
.l-header .header__title {
	color: #fff;
}

.nav__link {
	background-color: #696969;
	background-color: rgba(0, 0, 0, 0.4);
	/*color: #57a6c6;*/
	color: #fff;
	border-radius: 0.3em;
}

.l-footer {
	color: #aaa;
	font-size: 0.8em;
}
.l-footer__link {
	color: #aaa;
}


